{% extends "layout.html" %}

{% block title %}BISmark- {{ client.name }}{% endblock %}

{% block content %}

<h1>{{ client.name }}</h1>

{% if error_description %}
<div class="error_container">
	<p>{{ error_description }}</p>
</div>
{% endif %}

<div class="content_container">
	<p>This page should refresh automatically. If it does not, you may need to enable javascript in your browser. </p>	
	<form method="post" action="/oauth2/token" class="authenticate">
		<input type="hidden" name="grant_type" value="authorization_code" />
		<input type="hidden" name="code" value="{{ code.0.key }}" />
		<input type="hidden" name="redirect_uri" value="{{ code.0.redirect_uri }}" />
		<input type="hidden" name="client_id" value="{{ code.0.client.key }}" />
	</form>

	

	<script type="text/javascript">
                $(document).ready(function(){
                        var values = {};
                        $.each($('.authenticate').serializeArray(), function(i, field) {
                        	values[field.name] = field.value;
                	});
                	$.ajax({
                		url: $('.authenticate').attr('action'),
                		data: values,
                        	dataType: "jsonp",
                        	beforeSend: function(xhr){
                        		xhr.setRequestHeader("Authorization", "{{basic_auth}}")
                        	},
                        	success: function(data) {
					window.location.reload();
				}
                        });
                });
        </script>

</div>

{% endblock %}
