{% extends "layout.html" %}

{% block title %}BISmark- Account Profile{% endblock %}

{% block content %}

        <h2>Your Profile</h2>
	<p class="notes">{{ user }}</p>

        <div class="content_container">
		<div class="row-fluid" id="extend"><div class="span2"></div><div class="span3">
                <p>ISP:</p>
                <p>Location:</p>
                <p>Service Type:</p>
                <p>Service Plan:</p>
		{% if router.0.urate %}
                	<p>Upload Rate:</p>
                	<p>Download Rate:</p>
		{% endif %}
		</div><div class="span7">
			<p>{{router.0.isp}}</p>
			<p>{{router.0.city}}, {{router.0.state}}, {{router.0.country}}</p>
			<p>{{router.0.service_type}}</p>
			<p>{{router.0.service_plan}}</p>
			{% if router.0.urate %}
				<p>{{router.0.urate}}</p>
				<p>{{router.0.drate}}</p>
			{% endif %}
		</div></div>
	</div>
	<p>For more information about BISmark, please visit <a href='http://projectbismark.net/'>http://projectbismark.net/</a>.</p>
	<div class="main">	
		<div class="main-left">
			<a href="/accounts/form/">Edit your BISmark profile</a>
			<p class="notes">Click to edit the above fields. Please ensure they are complete and correct. </p>
		</div>
		<div class="main-right">
			<a href="/oauth2/authorize?redirect_uri=http%3A%2F%2Fregister.projectbismark.net%2Fclient%2F&response_type=code">Validate your registration</a>
			<p class="notes">Clicking above will generate your registration token which turns off the BISmark portal. </p>
		</div>
		<br />
	</div>
{% endblock %}

