{% extends "layout.html" %}

{% block title %}BISmark- Account Registration{% endblock %}

{% block content %}

        <script type="text/javascript">
            var hosts = ['myrouter.projectbismark.net',
                         'myrouter.local',
                         '192.168.142.1'];
            for (var idx in hosts) {
                $.ajax({
                    type: "GET",
                    url: "http://" + hosts[idx] + "/cgi-bin/turn-off-nodogsplash",
                    timeout: 1000,
                });
            }
        </script>

        <h2>Account Registration</h2>
	<p>Fill out the following information to create your account. </p>

        <div class="content_container">
                <form action="." method="post">{% csrf_token %}
			{{ form.as_p }}
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>

		<a href="../login/">Already Registered?</a>
        </div>

{% endblock %}
